@font-face {
  font-family: normalFont;
  src: url("fonts/YACUFont.woff2");
}

@font-face {
  font-family: boldFont;
  src: url("fonts/YACUFontBold.woff2");
}

@font-face {
  font-family: lightFont;
  src: url("fonts/YACUFontLight.woff2");
}

// initialize more with different formats to avoid conflict

