#main {
  background-color: rgb(83, 133, 183);
  font-family: boldFont;
  text-align: center;
  margin: 0px auto;
  display: block;
}

#main img {
  padding: 0px; 
}

#main h1 {
  color: white;
  font-size: 400%
}

#our_mission {
  font-family: normalFont;
  background-color: midnightblue;
}

.repeating_quote {
  position: relative;
  margin: 0px auto;
  background-color: midnightblue;
}

.quote {
  animation: rotating_quote 10s ease-in-out alternate infinite;
}

#quote2 {
  animation-delay: 5s;
}

@keyframes rotating_quote {
  0% { opacity: 1; }
  45% { opacity: 1; }
  55% { opacity: 0; }
  100% { opacity: 0; }
}

/* For different media queries */

/* Mobile */
@media only screen and (min-width: 30em) {
  
}

/* Tablet (iPad Mini, e.g) */
@media only screen and (min-width: 40em) {
  
}

/* Normal */
@media only screen and (min-width: 48em) {
  
}

