body {
  margin: 0px;
  padding: 0px;
  font-family: lightFont;
  background-color: rgb(29,67,110);
}

#main {
  background-color: rgb(29,67,110);
  font-family: boldFont;
  text-align: center;
  margin: 0px auto;
  display: block;
}

#container {
  color: white;
  width: 100%;
}

#main img {
  padding: 0px; 
}

#main h1 {
  color: white;
  font-size: 400%
}

#our_mission {
  font-family: lightFont;
  font-weight: none;
  color: white;
  background-color: midnightblue;
  padding: 2%;
}

#about_us {
  color: white;
  background-color: aliceblue;
  padding: 2%;
}

.repeating_quote {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  background-color: midnightblue;
}

.repeating_quote img {
  position: absolute;
  left: 0;
}

#top {
  animation: rotating_quote 10s ease-in-out alternate infinite;
}

@keyframes rotating_quote {
  0% { opacity: 1; }
  45% { opacity: 1; }
  55% { opacity: 0; }
  100% { opacity: 0; }
}

/* For different media queries */

/* Mobile */
@media only screen and (min-width: 30em) {
  
}

/* Tablet (iPad Mini, e.g) */
@media only screen and (min-width: 40em) {
  
}

/* Normal */
@media only screen and (min-width: 48em) {
  
}

