body {
  font-family: normalFont;
  margin: 0;
  text-align: center;
  padding: 0px;
  background-color: rgb(29,67,110);
  width: 100%;
}

/* Header */
header {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

section {
  width: 100%;
  height: 100%;
}

/* For different media queries */

/* Mobile */
@media only screen and (max-width: 39.999999em) {
  .mobileAnimClass {
    animation: background_color_grad 50s ease;
    animation-iteration-count: 1;
    z-index: 5;
  }
  
  #container {
    background-color: transparent;
  }
  
  #nav_bar, #join_button {
    display: none;
    list-style-type: none;
  }

  #mobileContainer {
    padding: 3%;
    padding-bottom: 6%;
    background-color: black;
    width: 100%;
    position: fixed;
    order: 2;
  }
  
  header {
    width: 80%;
    position: absolute;
    left: 20%;
    height: 100%;
    opacity: 0.9;
    margin-top: 3%;
  }

  #headed {
    background-color: transparent;
    position: fixed;
    z-index: 9;
    margin-top: 9%;
  }
  
  #nav_bar li {
    text-align: center;
    padding: 10% 10% 0% 0%;
    font-family: lightFont;
  }
  
  #nav_bar li a, #join_button {
    text-decoration: none; 
    color: black;
    font-weight: none;
    font-size: 150%;
  }
  
  #nav_bar li a:active {
    color: gainsboro;
  }
  
  #logo_btn {
    margin-top: 3%;
    margin-left: 40%;
    position: fixed;
    z-index: 10;
  }
  
  @keyframes background_color_grad {
    0% { background-color: transparent; }
    1% { background-color: rgb(0, 0, 0, 0.5); }
  }
}

/* Tablet (iPad Mini, e.g) */
@media only screen and (min-width: 40em) {
  
}

/* Normal */
@media only screen and (min-width: 48em) {
  #container {
    animation: background_fade_in 1s ease;
    animation-iteration-count: 1;
    order: 1;
  }
  
  #logo_btn {
    display: none;
  }

  header nav {
    display: block;
    text-align: center;
    background-color: black; 
    opacity: 0.9;
    padding: 1%;
    order: 2;
  }

  #nav_bar {
    text-align: center;
    padding: 0.1%;
    width: 100%;
    margin-left: auto;
    display: inline;
    margin-right: auto;
  }

  #nav_bar {
    display: block;
  }
  
  #nav_bar li {
    list-style-type: none;
    display: inline;
    padding: 0% 0% 5% 5%;
  }
  
  #nav_bar li a {
    text-decoration: none; 
    color: white;
    font-weight: none;
  }
  
  li a:hover {
    animation: color_change_th 2s ease;
    
    -webkit-animation: color_change_th 2s ease;
    -moz-animation: color_change_th 2s ease;
  }

  #join_button {
    background-color: indianred;
    font-weight: bold;
    display: inline;
    text-decoration: none;
    padding-left: 8.2%;
    padding-right: 8.2%;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
    color: white;
    position: absolute;
    bottom: 0.5%;
    left: 79%; 
  }

  #join_button:hover {
    animation: color_change_th 2s ease;
    
    -webkit-animation: color_change_th 2s ease;
    -moz-animation: color_change_th 2s ease;
  }
  
  /** Animation for Header **/
  
  @keyframes color_change_th {
    from { opacity: 1; color: white; }
    to { opacity: 0.7; color: gainsboro; }
  }
  
  @-webkit-keyframes color_change_th {
    from { opacity: 1; color: white; }
    to { opacity: 0.7; color: gainsboro; }
  }
  
  @-moz-keyframes color_change_th {
    from { opacity: 1; color: white; }
    to { opacity: 0.7; color: gainsboro; }
  }
  
  /** Background Fade in **/
  
  
  @keyframes background_fade_in {
    0% { opacity: 0; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
  }
 
  /** Safari and Chrome **/
  @-webkit-keyframes background_fade_in {
    0% { opacity: 0; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
  }
  
   /** Firefox **/
  @-moz-keyframes background_fade_in {
    0% { opacity: 0; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
  }
}
